#checklist
  h1 購物清單
  .buy_item.control_panel
    label 產品名
    input#input_name(placeholder="要買什麼")
    label 價錢
    input#input_price(placeholder="要多少錢")
    button.addbtn +
  #items_list
    ul.list
    //- li.buy_item 1.吹風機
    //-   .price 100
    //-   .del_btn X
    //- li.buy_item_total 總價
    //-   .price 100*/ 
        
    .total
      li.buy_item 總花費
        .count
    